body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#canvas {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 100px auto 0 auto;
    text-align: center;
}

canvas, #game-intro, #level, #gameover, #win-game {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -250px;
}


#game-intro {  
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 2.5em;
    text-align: center;
    background-color: #87F0F0;
    background-image: url('images/cityFinalStart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 50% bottom 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px -20px 20px;
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: .7em;
    color: #00FFFF;
    width: 90px;
    height: 50px;
    border: 1px white solid;
    border-radius: 12px;
    padding: 5px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: .68em;
    font-weight: 600;
    line-height: 1.5;
    padding: 10px;
}

.hide {
    display: none;
}

.intro div {
    width: 45%;
}

#start-cloud, #level-cloud, #gameover-cloud {
    width: 475px;
}

#level, #gameover{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#level-button, #gameover-button {
    width: 200px;
    height: 60px;
    font-size: 1.25em;
    margin: 20px;
}

#level-button {
  color: #FF8669;
  background-color: white;
  border: none;
}

#gameover-button {
    background-color:white;
    color: #AA9401;
    border: none;
  }

  #restart-button {
    width: 200px;
    height: 60px;
    font-size: 1.25em;
    margin: 20px;
    color: rgb(255, 0, 149);
  }


#win-game {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

#win-game-cloud {
    width: 700px;
}

